.fc {
	display: -webkit-flex;
	display: flex;
}

.fcRow {
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: space-between;
	justify-content: space-between;

	-webkit-align-items: center;
	align-items: center;
}

.fcColumn {
	-webkit-flex-direction: column;
	flex-direction: column;

	height: 100%;
}

html, body {
	margin:0px;
	height: 100%;
}

#header {
	/*height: 40px;*/
	background-color: #eee;
	padding: 10px 10px;
}

.clickable {
	cursor: pointer;
}

#addButton {
	
}

#chatRoom {
	/*flex: 1;*/
	/*display: -webkit-flex;
	display: flex;
	flex-direction: column;
	min-height: 100vh;*/
}

#chatLog {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;

	/*flex: 1;*/
	padding:10px;
	/*overflow: scroll;*/
}

#chatInput {
	height: 40px;
	padding:10px;
	background-color: #eee;

	/*display: -webkit-flex;
	display: flex;*/
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	/*align-self:flex-end;*/
}

.logInput {
	/*height:30px;*/
	padding: 10px 10px;
	flex:1;
	/*width: 100%;*/
}