#__flow-root {
	height:100%;
}

.fc {
	display: -webkit-flex;
	display: flex;
}

.fcRow {
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: space-between;
	justify-content: space-between;

	-webkit-align-items: center;
	align-items: center;
}

.fcColumn {
	-webkit-flex-direction: column;
	flex-direction: column;

	height: 100%;
}

html, body {
	margin:0px;
	height: 100%;
}

#header {
	background-color: #eee;
	padding: 10px 10px;
}

.clickable {
	cursor: pointer;
}

#addButton {
	
}

#chatLog {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;

	padding:10px;
}

#chatFooter {
	/*height: 33px;*/
	padding:5px;
	background-color: #eee;
}

.logInput {
	height: 25px;
	-webkit-flex: 1 0 8em;
	flex: 1 0 8em;
}

.logEntry button {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}